@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moving {
  0% {
    margin-left: -100vh;
  }
  100% {
    margin-left: 0;
  }
}

#t1 {
  animation: moving 1.2s ease-in-out forwards;
}
#t2 {
  animation: moving 1.7s ease-in-out forwards;
}
#t3 {
  animation: moving 1.2s ease-in-out forwards;
}

.active::after {
  content: "";
  position: absolute;
  height: 0.175rem;
  left: 0%;
  bottom: 0%;
  background-color: #fff;
}

.inactive::after {
  content: "";
  position: absolute;
  height: 0.175rem;
  left: 0%;
  bottom: 0%;
  background-color: #a14baa;
}
.inactive::after {
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}
.inactive:hover::after {
  transform: scale(1, 1);
}

#supervisor {
  position: relative;
}
#supervisor::after {
  position: absolute;
  content: "Supervisor";
  height: 100%;
  width: 100%;
  top: 30%;
  left: 94%;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  transform: scale(0);
  font-size: 0.65rem;
  color: white;
}
#supervisor:hover::after {
  transform: scale(1, 1);
}
